* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 500px;
    padding: 30px;
    border: 1px solid #eeeeee00;
    border-radius: 10px;
    background-color: #00000000;
}

h4 {
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
}

input[type="email"] {
    width: 300px; /* Adjusted width for text input */
    padding: 10px;
    margin-bottom: 10px;
	
}

#submit {
    border: none;
    background-color: #6d412de6;
    color: white;
    width: 133px; /* Adjusted width for submit button */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#submit:hover {
    background-color: #6d412d;
}

#submit:active {
	transform: translateY(2px);
}
