@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(120deg, #7d7d7d, #000000, #262626, #6d412de6);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 150px;
  color: white;
  margin-top: -3.5%;
}

.h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 100px;
  color: white;
  margin-top: -3.5%;
}

.subtitle {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 35px;
  color: white;
  margin-top: -8.5%;
}

.main {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  margin-bottom: 8%;
  color: white;
}

.topleft {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 10px;
  left: 10px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 50%;
  padding-top: 0%;
}

/*Waitlist Form Components*/

h4 {
  margin-bottom: 10px;
  font-size: 24px;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
}

input[type="email"] {
  width: 120px; 
  padding: 8px;
  margin-top: 24px;
  margin-bottom: 10px;
}

#submit {
  border: none;
  background-color: #6d412de6;
  color: white;
  width: 90px; 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-left: -10px;
}

#submit:hover {
  background-color: #6d412d;
}

#submit:active {
transform: translateY(2px);
}

op/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  height: 60px;
  position: relative;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #514b82;
  clip-path: polygon(0 0,100% 0, 100% 67%,50% 67%,50% 34%,0 34%);
  animation: sp7 2s infinite;
}
.loader::after {
  --s:-1,-1;
}
@keyframes sp7 {
    0%,
    10%  {transform:scale(var(--s,1)) translate(0,0)        rotate(0deg)}
    33%  {transform:scale(var(--s,1)) translate(0,-20px)    rotate(0deg)}
    66%  {transform:scale(var(--s,1)) translate(10px,-20px) rotate(-90deg)}
    90%,
    100% {transform:scale(var(--s,1)) translate(10px,-10px) rotate(-90deg)}
}

/*scaling stuff DONT DELETE*/

@media only screen and (max-width: 749px) {
  .bgimg {
    font-size: 20px;
  }  
  .title {
    font-size: 58px;
    margin-bottom: 8%;
  }
  .topleft img {
    width: 65px;
    height: 65px;
  }
}

@media only screen and (min-width: 750px) {
  .bgimg {
   
    font-size: 24px;
  }  
  .title {
    font-size: 80px;
    margin-bottom: 8%;
  }
  .topleft img {
    width: 75px;
    height: 75px;  }
  
}

@media only screen and (min-width: 900px) {
  .bgimg {
    
    font-size: 30px;
  }  
  .title {
    font-size: 92px;
    margin-bottom: 8%;
  }
  .topleft img {
    width: 85px;
    height: 85px;  }
  
}



/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {}
/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {}