@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
  --small: 0.5;
  --medium: 0.8;
}

body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-image: url('assets/test.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;  
  opacity: 100%;
}  

.title {
  font-family: 'Bebas Neue', sans-serif;
}

.topleft {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 10px;
  left: 10px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


hr {
  margin: auto;
  width: 40%;
  padding-top: 0%;
}


/*Waitlist Form Components*/

h4 {
  margin-bottom: 10px;
  font-size: 24px;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
}

input[type="email"] {
  width: 120px; 
  padding: 8px;
  margin-top: 24px;
  margin-bottom: 10px;
}

#submit {
  border: none;
  background-color: #6d412de6;
  color: white;
  width: 90px; 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-left: -10px;
}

#submit:hover {
  background-color: #6d412d;
}

#submit:active {
transform: translateY(2px);
}


/*Screen Size Adjustment*/


@media only screen and (max-width: 749px) {
  .bgimg {
    font-size: 20px;
  }  
  .title {
    font-size: 58px;
    margin-bottom: -20px;
  }
  .topleft img {
    width: 65px;
    height: 65px;
  }

  #submit{
    width: 120px; 
    margin-left: 0px;
  }

  #no_mobile {
    display:none;
  }
}

@media only screen and (min-width: 750px) {
  .bgimg {
    font-size: 24px;
  }  
  .title {
    font-size: 80px;
    margin-bottom: 4px;
  }
  .topleft img {
    width: 75px;
    height: 75px;  }
  
}

@media only screen and (min-width: 900px) {
  .bgimg {
    font-size: 30px;
  }  
  .title {
    font-size: 92px;
    margin-bottom: 0px;
  }
  .topleft img {
    width: 85px;
    height: 85px;  }
  
}



/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {}
/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {}